<div class="popup-backdrop" 
     *ngIf="showPopup" 
     (click)="onBackdropClick($event)"
     [@fadeIn]>
  <div class="popup-container">
    <button class="close-button" 
            (click)="closePopup()"
            aria-label="Close advertisement">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
    
    <div class="ad-content">
      <app-google-adsense
        [adClient]="adsenseService.getConfig().adClient"
        [adSlot]="adsenseService.getAdSlot('banner')"
        adFormat="rectangle"
        [adTest]="adsenseService.isTestMode() ? 'on' : 'off'">
      </app-google-adsense>
    </div>
    
    <div class="ad-disclaimer">
      <small>Advertisement - Tap X to close</small>
    </div>
  </div>
</div>
