.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:  0;
}

.logo-svg {
  height: auto;
  width: 10%;
  max-width: 100%;
  transition: transform 0.3s ease;
}

.logo-svg:hover {
  transform: scale(1.05);
}

@media (max-width: 480px) {
  .logo-svg {
    width: 250px;
    height: 83px;
  }
}
